
header{
  display: flex;
  background-color: cornflowerblue;
  height: 50px;
}

.headerContent{
  margin-left: auto;
  padding-top: 10px;
}

.headerContentList{
  margin-right: 10px;
}

.sigTable{
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #68779a;
  background: #cbe8fa;
  cursor: pointer;
}

.sigContent{
  padding-bottom: 10px;
}

.sig{
  padding-top: 100px;
}

.homeDody{
  padding-top: 100px;
}

.indexSubmitContnts{
  text-align: center;
}
